Flask==2.1.1
gunicorn==20.1.0
line-bot-sdk==1.17.0
APScheduler==3.6.3
psycopg2==2.8.6
requests==2.24.0
beautifulsoup4==4.9.1
bs4==0.0.1
lxml
pymongo==4.0.2
dnspython
dialogflow==1.1.0
matplotlib
pandas
pyimgur
tzlocal<3.0
datetime
selenium==3.11.0
webdriver_manager